* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll for mozilla */
    scrollbar-color: #46c8e8 #0F1114; /* thumb and track color */
    scrollbar-width: thin;
}
body {
    font-family: 'Syncopate', sans-serif;
    background: #0F1114;
    color: #46C8E8;
}
header {
    color: #7AAE79;
    padding: 2rem 0 2rem 0;
    text-align: center;
}
header > button {
    border: 1px solid #46C8E8;
    background: #0F1114;
    color: #46c8e8;
    font-family: 'Syncopate', sans-serif;
    margin-top: 3rem;
    padding: 1rem;
}
header > button:hover {
    background: #46C8E8;
    border: 1px solid #46C8E8;
    color: #0F1114;
    transition: 0.3s all ease-in;
}
.score, .match {

    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}
.player-score, .computer-score > p {
    text-align: center;
}
.result {
    display: none;
 /*   display: flex; */
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    color: #e87946;
}
.result h2, h1 {
    padding: 1rem 0;
}
#player-hand {
    color: #7AAE79;
    font-size: 5rem;
    transform: rotate(90deg);
}
#computer-hand {
    color: #7AAE79;
    font-size: 5rem;
    transform: scaleX(-1) rotate(90deg);
}
.options {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
}
.options div {
    align-content: center;
    flex-wrap: wrap;
    margin: 1rem 2rem;
    padding: 1rem 0;
}
.options button {
    background: #0F1114;
    font-size:  2rem;
    height: 103px;
    width: 102px;
    text-align: center;
    border: 1px solid #7AAE79;
    border-radius: 50%;
    color: #7AAE79;
    margin: 1rem;
    padding: 2rem;
}
.options button:hover {
    background: #7AAE79;
    color: #0F1114;
    transition: 0.3s all ease-in;
}
/*scrollbar for chrome, safari, edge */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #46c8e8;
    border-radius: 10px
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(70, 200, 232, 0.8);
}
